body{
  margin:0;
  text-align:center;
  font-family: Verdana;
  background:#e9e9e9;
}
h1 {
  text-align:center;
}
input[type="radio"] {
    display:none;
}
label {
  width:30%;
  float:left;
  text-align:center;
  background:#ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#222222;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
}
 
.box {
  width:23%;
  height:100px;
  float:left;
  transition:none;
  margin:0.5%;
  padding:0.5%;
  line-height: 100px;
}




input[type="radio"][id="g-a"]:checked ~ .g-b, input[type="radio"][id="g-a"]:checked ~ .g-c, input[type="radio"][id="g-a"]:checked ~ .g-d, input[type="radio"][id="g-a"]:checked ~ .g-e, input[type="radio"][id="g-a"]:checked ~ .g-f, input[type="radio"][id="g-a"]:checked ~ .g-g, input[type="radio"][id="g-a"]:checked ~ .g-h {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="g-b"]:checked ~ .g-a, input[type="radio"][id="g-b"]:checked ~ .g-c, input[type="radio"][id="g-b"]:checked ~ .g-d, input[type="radio"][id="g-b"]:checked ~ .g-e, input[type="radio"][id="g-b"]:checked ~ .g-f, input[type="radio"][id="g-b"]:checked ~ .g-g, input[type="radio"][id="g-b"]:checked ~ .g-h {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="g-c"]:checked ~ .g-a, input[type="radio"][id="g-c"]:checked ~ .g-b, input[type="radio"][id="g-c"]:checked ~ .g-d, input[type="radio"][id="g-c"]:checked ~ .g-e, input[type="radio"][id="g-c"]:checked ~ .g-f, input[type="radio"][id="g-c"]:checked ~ .g-g, input[type="radio"][id="g-c"]:checked ~ .g-h {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="g-d"]:checked ~ .g-a, input[type="radio"][id="g-d"]:checked ~ .g-b, input[type="radio"][id="g-d"]:checked ~ .g-c, input[type="radio"][id="g-d"]:checked ~ .g-e, input[type="radio"][id="g-d"]:checked ~ .g-f, input[type="radio"][id="g-d"]:checked ~ .g-g, input[type="radio"][id="g-d"]:checked ~ .g-h {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="g-e"]:checked ~ .g-a, input[type="radio"][id="g-e"]:checked ~ .g-b, input[type="radio"][id="g-e"]:checked ~ .g-c, input[type="radio"][id="g-e"]:checked ~ .g-d, input[type="radio"][id="g-e"]:checked ~ .g-f, input[type="radio"][id="g-e"]:checked ~ .g-g, input[type="radio"][id="g-e"]:checked ~ .g-h {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="g-f"]:checked ~ .g-a, input[type="radio"][id="g-f"]:checked ~ .g-b, input[type="radio"][id="g-f"]:checked ~ .g-c, input[type="radio"][id="g-f"]:checked ~ .g-d, input[type="radio"][id="g-f"]:checked ~ .g-e, input[type="radio"][id="g-f"]:checked ~ .g-g, input[type="radio"][id="g-f"]:checked ~ .g-h {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="g-g"]:checked ~ .g-a, input[type="radio"][id="g-g"]:checked ~ .g-b, input[type="radio"][id="g-g"]:checked ~ .g-c, input[type="radio"][id="g-g"]:checked ~ .g-d, input[type="radio"][id="g-g"]:checked ~ .g-e, input[type="radio"][id="g-g"]:checked ~ .g-f, input[type="radio"][id="g-g"]:checked ~ .g-h {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="g-h"]:checked ~ .g-a, input[type="radio"][id="g-h"]:checked ~ .g-b, input[type="radio"][id="g-h"]:checked ~ .g-c, input[type="radio"][id="g-h"]:checked ~ .g-d, input[type="radio"][id="g-h"]:checked ~ .g-e, input[type="radio"][id="g-h"]:checked ~ .g-f, input[type="radio"][id="g-h"]:checked ~ .g-g {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="g-a"]:checked + label,
input[type="radio"][id="g-b"]:checked + label,
input[type="radio"][id="g-c"]:checked + label,
input[type="radio"][id="g-d"]:checked + label,
input[type="radio"][id="g-e"]:checked + label,
input[type="radio"][id="g-f"]:checked + label,
input[type="radio"][id="g-g"]:checked + label,
input[type="radio"][id="g-h"]:checked + label 
{
  background: #8A1538;
  color: white;

}


.w-h {
  width: 70px;
  height: 60px;
}

.g-a, .g-b, .g-c, .g-d, .g-e, .g-f, .g-g, .g-h{
 margin-top:35px;
}





